.sign-in{
    width:30vw;
    font-family: inherit;

    .heading-secondary{
        margin-bottom: 2rem;
    }

    .heading-tertiary{
        margin-bottom:4rem;
    }

    .form{
        display:grid;
        grid-gap:1rem;
    }

    .buttons{
        display:flex;
        justify-content:space-between;
    }

}