.cart-icon{
    position:relative;
    cursor:pointer;
    &__bag{
        width:3.5rem;
        height:3.5rem;
    }

    &__count{
        width:1rem;
        height:1rem;
        font-size:1.2rem;

        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align:center;
    }
}

