$font-family:'Open Sans Condensed';

.form-group{
    .form-input{
        width:100%;
        padding:1rem;
        border:none;
        border-bottom:2px solid #eee;
        outline:none;
        font-family:$font-family;
        font-size:1.6rem;
        &::placeholder{
            font-family:$font-family;
            font-size:1.6rem;
        }

    }

    .form-input:placeholder-shown ~ .form-label{
        opacity:0;
        visibility:hidden;
        transform:translateY(-4rem);
        

    }

    .form-label{
        font-size:1.6rem;
        font-family:$font-family;
        padding:1rem;
        display:block;
        opacity:1;
        visibility:display;
        transition:all .2s;
    }

}