
.heading-secondary{
    font-family:"Open Sans Condensed";
    font-size:3rem;
    letter-spacing: 1px;
    word-spacing:.25rem;

}

.heading-tertiary{
    font-family:"Open Sans Condensed";
    font-weight:300;
    font-size:1.6rem;
}