*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:inherit;
  font-family:inherit;
}

html{
  font-size:62.5%;
  
  box-sizing:border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   font-family:"Open Sans Condensed sans-serif";
   font-weight:300;

   padding:2rem 6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
